@using Student_Support_System.Utility
@using ViewModel;
@page "/CreareStudent"
@inject CreareStudentSupportMasterViewModel viewModel

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text"></div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">นักศึกษา</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">จัดการนักศึกษา</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">เพิ่มนักศึกษา</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><b>เพิ่มนักศึกษา</b></h4>
                        <button type="button"
                                class="btn btn-square btn-primary">
                            <i class="fa fa-search"></i> ดูประวัติกระทำผิดระเบียบ
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="pull-right">
                                    <p class="card-title text-center">แนบรูปภาพ</p>
                                    <input hidden type="file" id="upload-image" accept="image/*" />
                                    <label for="upload-image">
                                        <img class="upload-image-user" src="/images/upload_image_std.jpg"
                                             width="160" height="185" id="preview-image" />
                                    </label>
                                    <button hidden id="btn-remove" type="button"
                                            class="btn btn-square btn-outline-danger btn-block">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label class="card-title">ค้าหาจาก</label>
                                        <select id="selSearchStd" class="form-control">
                                            <option disabled selected="">===กรุณาเลือก===</option>
                                            <option value="1">รหัสนักศึกษา</option>
                                            <option value="2">ชื่อ-สกุล</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">ค้นหา</label>
                                        <select class="form-control w-100" id="search-data-std"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ระดับ</label>
                                        <select id="levelStd" class="form-control">
                                            <option disabled selected="">===กรุณาเลือก===</option>
                                            <option value="1">ปวช</option>
                                            <option value="2">ปวส</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">รหัสนักศึกษา</label>
                                        <input id="noStd" @bind-value="viewModel.studentProfile.IdStd" readonly type="text" class="form-control"
                                               placeholder="รหัสนักศึกษา" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">คำนำหน้า</label>
                                        <select readonly id="prefixStd" @bind="viewModel.studentProfile.GenreStd" class="form-control">
                                            <option value="1">นาย</option>
                                            <option value="2">นางสาว</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ชื่อ</label>
                                        <input id="fNameStd" @bind-value="viewModel.studentProfile.firstNameStd" readonly type="text" class="form-control" placeholder="ชื่อ" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">สกุล</label>
                                        <input id="lNameStd" @bind-value="viewModel.studentProfile.lastNameStd" readonly type="text" class="form-control" placeholder="สกุล" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">ชื่อเล่น</label>
                                        <input id="nickNameStd" @bind-value="viewModel.studentSupportMst.StdNicName" type="text" class="form-control" placeholder="ชื่อเล่น" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">สาขา</label>
                                        <input @bind-value="viewModel.studentProfile.BranchNameStd" type="text" class="form-control" placeholder="สาขา" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ระดับชั้น</label>
                                        <input @bind-value="viewModel.studentProfile.DegreeStd" type="text" class="form-control" placeholder="ระดับชั้น" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ห้อง</label>
                                        <input @bind-value="viewModel.studentProfile.SectionStd" type="text" class="form-control" placeholder="ห้อง" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">เกิดวันที่</label>
                                        <input @bind-value="viewModel.studentSupportMst.StdDateOfBirthSeparate.Day" type="text" class="form-control" placeholder="วันที่" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">เดือน</label>
                                        <select id="inputState" @bind="viewModel.studentSupportMst.StdDateOfBirthSeparate.Month" class="form-control">
                                            <option disabled selected="0">===กรุณาเลือก===</option>
                                            <option value="1">มกราคม</option>
                                            <option value="2">กุมภาพันธ์</option>
                                            <option value="3">มีนาคม</option>
                                            <option value="4">เมษายน</option>
                                            <option value="5">พฤษภาคม</option>
                                            <option value="6">มิถุนายน</option>
                                            <option value="7">กรกฎาคม</option>
                                            <option value="8">สิงหาคม</option>
                                            <option value="9">กันยายน</option>
                                            <option value="10">ตุลาคม</option>
                                            <option value="11">พฤศจิกายน</option>
                                            <option value="12">ธันวาคม</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="card-title">ปี (พ.ศ.)</label>
                                        <input @bind-value="viewModel.studentSupportMst.StdDateOfBirthSeparate.Year" type="text" class="form-control" placeholder="ปี" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">เบอร์โทร</label>
                                        <input @bind-value="viewModel.studentSupportMst.StdPhone" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">เบอร์โทรผู้ปกครอง</label>
                                        <input @bind-value="viewModel.studentSupportMst.ParentsPhone" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ชื่อหมู่บ้าน</label>
                                        <input @bind-value="viewModel.studentSupportMst.StdAddress.VillageName" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="card-title">หมู่ที่</label>
                                        <input @bind-value="viewModel.studentSupportMst.StdAddress.VillageNo" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">จังหวัด</label>
                                        <select @bind="viewModel.studentSupportMst.StdAddress.IdProvinces" class="form-control">
                                            <option disabled selected="">===กรุณาเลือก===</option>
                                        </select>
                                        <div class="form-group col-md-3">
                                            <label class="card-title">อำเภอ</label>
                                            <select @bind="viewModel.studentSupportMst.StdAddress.IdDistricts" class="form-control">
                                                <option disabled selected="">===กรุณาเลือก===</option>
                                            </select>
                                        </div>ect>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">ตำบล</label>
                                        <select @bind="viewModel.studentSupportMst.StdAddress.IdSubdistricts" class="form-control">
                                            <option disabled selected="">===กรุณาเลือก===</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="card-title">รหัสไปรษณีย์</label>
                                        <input readonly @bind-value="viewModel.studentSupportMst.StdAddress.ZipCode" type="text" class="form-control" />
                                    </div>
                                    <fieldset class="form-group col-md-4">
                                        <label class="col-form-label card-title">ปัจจุบันพักอยู่กับ</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-1" type="radio"
                                                       name="gridRadios" value="1" @bind="viewModel.studentSupportMst.CurrentlyLivingWith" />
                                                <label class="form-check-label card-title" for="radio-1">
                                                    บิดามารดา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-2" type="radio"
                                                       name="gridRadios" value="2" @bind="viewModel.studentSupportMst.CurrentlyLivingWith" />
                                                <label class="form-check-label card-title" for="radio-2">
                                                    บิดา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-3" type="radio"
                                                       name="gridRadios" value="3" @bind="viewModel.studentSupportMst.CurrentlyLivingWith" />
                                                <label class="form-check-label card-title" for="radio-3">
                                                    มารดา
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="radio-4" type="radio"
                                                       name="gridRadios" value="4" @bind="viewModel.studentSupportMst.CurrentlyLivingWith" />
                                                <label class="form-check-label card-title" for="radio-4">
                                                    บุคคลอื่น(ระบุ)
                                                </label>
                                                <div class="form-group" id="other-person-input" style="display: @(ShowOtherPersonInput ? "block" : "none")">
                                                    <label class="text-dark" for="other-person">โปรดระบุ:</label>
                                                    <input @bind="viewModel.studentSupportMst.CurrentlyLivingWithOther" type="text" class="form-control" id="other-person" />
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="card-title">ค้นหาอาจารย์ที่ปรึกษา</label>
                                        <select class="form-control js-data-example-ajax w-100"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label class="card-title">คำนำหน้า</label>
                                        <input readonly type="text" class="form-control"
                                               placeholder="คำนำหน้า" />
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label class="card-title">ชื่อ</label>
                                        <input readonly type="text" class="form-control" placeholder="ชื่อ" />
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label class="card-title">สกุล</label>
                                        <input readonly type="text" class="form-control" placeholder="สกุล" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <h4 class="card-title">
                                        <b>นักศึกษาที่กระทำผิดระเบียบวินัยมีพฤติกรรมที่ไม่เหมาะสม</b>
                                    </h4>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-offset-12">
                                        <label class="card-title">จำนวนครั้ง</label>
                                        <input id="unit-test" type="number" class="form-control text-lg-center" value="1" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check1">
                                            <label class="form-check-label" for="check1">
                                                <b class="card-title">แต่งกายไม่ถูกระเบียบ</b>
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check2">
                                            <label class="form-check-label" for="check2">
                                                <b class="card-title">ชู้สาว</b>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input type="checkbox" class="form-check-input" id="check3">
                                            <label class="form-check-label" for="check3">
                                                <b class="card-title">ดื่มของมึนเมาในสถานศึกษา</b>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check1">
                                            <label class="form-check-label" for="check1">
                                                <b class="card-title">สูบบุหรี่ในสถานศึกษา</b>
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check2">
                                            <label class="form-check-label" for="check2">
                                                <b class="card-title">ร้องเท้าผิดระเบียบ</b>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input type="checkbox" class="form-check-input" id="check3">
                                            <label class="form-check-label" for="check3">
                                                <b class="card-title">กางเกงผิดระเบียบ</b>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check1">
                                            <label class="form-check-label" for="check1">
                                                <b class="card-title">เนคไท</b>
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check2">
                                            <label class="form-check-label" for="check2">
                                                <b class="card-title">กระโปรงผิดระเบียบ</b>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input type="checkbox" class="form-check-input" id="check3">
                                            <label class="form-check-label" for="check3">
                                                <b class="card-title">ยาเสพติดประเภทร้ายแรง</b>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check1">
                                            <label class="form-check-label" for="check1">
                                                <b class="card-title">ทะเลาะวิวาท</b>
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check2">
                                            <label class="form-check-label" for="check2">
                                                <b class="card-title">พกอาวุธ</b>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input type="checkbox" class="form-check-input" id="check3">
                                            <label class="form-check-label" for="check3">
                                                <b class="card-title">การพนัน</b>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check1">
                                            <label class="form-check-label" for="check1">
                                                <b class="card-title">หลบ</b>
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" id="check2">
                                            <label class="form-check-label" for="check2">
                                                <b class="card-title">ส่งต่องานปกครอง ดำเนินการต่อ</b>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input type="checkbox" class="form-check-input" id="check3">
                                            <label class="form-check-label" for="check3">
                                                <b class="card-title">อื่นๆ</b>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button type="button"
                                            class="btn btn-square btn-success px-lg-5">
                                        <i class="fa fa-save"></i> บันทึก
                                    </button>
                                    <button type="button"
                                            class="btn btn-square btn-warning px-lg-5">
                                        <i class="fa fa-refresh"></i> ล้าง
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@inject IJSRuntime JSRuntime
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await StartJavaScriptDefault.StartJavaScript(JSRuntime);
            await JSRuntime.InvokeVoidAsync("loadScript", "./js/view/CreareStudentSupportMaster.js");
        }

        viewModel.studentSupportMst.CurrentlyLivingWith = 2;
    }
}
