@using StudentSupportSystem.Service.Implement;
@using Microsoft.AspNetCore.Components;

<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="search_bar dropdown">
                        <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                            <i class="mdi mdi-magnify"></i>
                        </span>
                        <div class="dropdown-menu p-0 m-0">
                            <form>
                                <input class="form-control" type="search" placeholder="ค้นหา..."
                                       aria-label="Search" />
                            </form>
                        </div>
                    </div>
                </div>

                <ul class="navbar-nav header-right">
                    <li class="nav-item dropdown header-profile @TextShow">
                        <NavLink href="javascript:void(0)" @onclick="OnClickDropdown" class="nav-link" type="button" role="button" data-toggle="dropdown">
                            <i class="mdi mdi-account"></i>
                        </NavLink>
                        <div class="dropdown-menu dropdown-menu-right @TextShow">
                            <NavLink href="javascript:void(0)" class="dropdown-item" @onclick="() => Logout()">
                                <i class="icon-key"></i>
                                <span class="ml-2">@ResourceSystemMessenger.Logout </span>
                            </NavLink>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

@inject AuthenticationService _authenticationServic;
@inject NavigationManager _navigationManager;
@code {
    private string? TextShow { get; set; }
    private bool IsShow { get; set; }

    private void OnClickDropdown(MouseEventArgs e)
    {
        // IsShow = !IsShow;
        // if (IsShow)
        // {
        //     TextShow = "show";
        // }
        // else
        // {
        //     TextShow = null;
        // }
        // StateHasChanged();
    }

    private async Task Logout()
    {
        await _authenticationServic.SignOut();
        _navigationManager.NavigateTo("/login");
    }
}