@using StudentSupportSystem.Service.Implement;
@using StudentSupportSystem.Service.Interface;
@using Microsoft.AspNetCore.Components;

<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="search_bar dropdown">
                        <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                            <i class="mdi mdi-magnify"></i>
                        </span>
                        <div class="dropdown-menu p-0 m-0">
                            <form>
                                <input class="form-control" type="search" placeholder="ค้นหา..."
                                       aria-label="Search" />
                            </form>
                        </div>
                    </div>
                </div>

                <ul class="navbar-nav header-right">
                    <li class="nav-item dropdown header-profile">
                        <NavLink href="javascript:void(0)" class="nav-link" type="button" role="button" data-toggle="dropdown" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-account"></i>
                        </NavLink>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <NavLink href="javascript:void(0)" class="dropdown-item" @onclick="() => Logout()">
                                <i class="icon-key text-danger"></i>
                                <span class="ml-2 text-danger">@ResourceSystemMessenger.Logout </span>
                            </NavLink>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

@inject AuthenticationService _authenticationServic;
@inject NavigationManager _navigationManager;
@inject IDialogService _dialogService;
@code {
    private async Task Logout()
    {
        var state = await _dialogService.DialogYesOrNo("แน่ใจว่าต้องการออกจากระบบ ?");
        if (state)
        {
            await _authenticationServic.SignOut();
            _navigationManager.NavigateTo("/login");
        }
    }
}