<div class="nav-header">
    <NavLink href="/" class="brand-logo" Match="NavLinkMatch.All">
        @if (IsShowTitleName)
        {
            <label>@ResourceSystemMessenger.StudentSupportSystem</label>
        }
    </NavLink>

    <div class="nav-control">
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>

@inject IJSRuntime JSRuntime
@code {
    private bool _collapseNavMenu;
    public bool collapseNavMenu
    {
        get => _collapseNavMenu;
        set
        {
            _collapseNavMenu = value;
            NavMenuCssClass = _collapseNavMenu ? "hamburger" : "hamburger is-active";
        }
    }
    private bool IsShowTitleName { get; set; }
    private string? NavMenuCssClass { get; set; }

    protected override void OnInitialized()
    {
        collapseNavMenu = true;
        IsShowTitleName = true;
        base.OnInitialized();
    }

    private async void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        await JSRuntime.InvokeVoidAsync("OnToggleNavMenu", collapseNavMenu);
        if (collapseNavMenu)
            await Task.Delay(100);
        IsShowTitleName = collapseNavMenu;
        StateHasChanged();
    }
}
