@using StudentSupportSystem.Service.Implement;
@using Microsoft.AspNetCore.Components;
@inject IJSRuntime JSRuntime

<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">เมนูหลัก</li>
            <li class="@OnActiveLink("/")">
                <NavLink href="/" aria-expanded="false" Match="NavLinkMatch.All">
                    <i class="icon icon-home"></i><span class="nav-text">หน้าหลัก</span>
                </NavLink>
            </li>
            <li class="nav-label first">นักศึกษา</li>
            <li class="mm-active">
                <NavLink class="has-arrow" href="#" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">ข้อมูลนักศึกษา</span>
                </NavLink>
                <ul aria-expanded="false" class="@OnActiveCollapse("/test1")">
                    <li><NavLink href="/StudentSupportMasterViewModel" class="mm-active">จัดการนักศึกษา</NavLink></li>
                    <li><NavLink href="#">ใบลาออกนักศึกษา</NavLink></li>
                    <li><NavLink href="#">ใบเชิญผู้ปกครอง</NavLink></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

@inject NavigationManager _navigationManager
@code {
    private string? currentUrl;
    private string? activeLink = "mm-active";
    private string? activeCollapse = "mm-collapse mm-show";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadScript", "./vendor/global/global.min.js");
        }
    }

    private string OnActiveLink(string href)
    {
        return _navigationManager.Uri;
    }

    private string OnActiveCollapse(string href)
    {
        return _navigationManager.Uri;
    }
}